use flake .


### For development against a local copy of miking and miking-dppl ###

# Add a locally built mi to the path
PATH_add ../miking/build
# Overwrite MCORE_LIBS to point only at the locally installed things
export MCORE_LIBS="stdlib=$(expand_path ../miking/src/stdlib/)"
# Add boot location to OCAMLPATH
path_add OCAMLPATH ../miking/build/lib


### For development of TreePPL ###

# Add the treeppl src location
export MCORE_LIBS="${MCORE_LIBS-}${MCORE_LIBS:+:}coreppl=$(expand_path ./coreppl/src)"
